@media (min-width: 300px) and (max-width: 800px){
    
    :root{
    --fs-h1: 1.5rem;
    --fs-h2: 1.3rem;
    --fs-h3: 1.2rem;
    --fs-h4: 1rem;

    --fs-a: 1rem;
    --fs-p: 1.2rem;

    --fw-high: 700;
    --fw-medium: 500;
    --fw-normal : 400;

    }

    .btn{
        padding: 0.5rem;
    }

    nav{
        padding: 1rem 2%;
    }

    main{
        padding: 1rem 2%;
    }

    .navbar-container{
        gap: 0.5rem;
    }

    .hero{
        height: auto;
        grid-template-columns: 1fr;
        grid-template-areas: 
        'grid-2'
        'grid-1';
    }

    .hero-description{
        text-align: center;
    }
    
    
    .services{
        flex-direction: column;
    }

    .services-layout-left h2{
        text-align: center;
    }

    .services-layout-right{
        text-align: center;
    }


    .more-stuffs-card{
        padding: 0.5rem;
        gap: 0.5rem;
    }

    .stuffs-img1 img{
    width: 30px;
    height: 30px;
    border-radius: 50%;
    }

    .stuffs-description h3{
    font-size: 0.6rem;
    }

    .footer-layout{
        justify-content: center;
        gap: 1rem;
    }

    .footer-left{
        align-items: center;
    }

    .footer-links{
        flex-direction: row;
        justify-content: center;
        gap: 1rem;
    }
}