@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

:root{
    /* Color */

    --base-color: rgba(245,245,245);
    --secondary-color: rgba(219,215,210);
    --tertiary-color: rgba(0,0,0);
    --btn-color: rgba(255,239,0);

    /* Font Size */

    --fs-h1: 3rem;
    --fs-h2: 2rem;
    --fs-h3: 1.8rem;
    --fs-h4: 1.7rem;

    --fs-a: 1rem;
    --fs-p: 1.5rem;

    --fw-high: 700;
    --fw-medium: 500;
    --fw-normal : 400;

}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background-color: var(--base-color);
    margin: 0 auto;
    font-size: 62.5%;
    font-family: 'Poppins' , sans-serif;
    box-sizing: border-box;
    overflow-x: hidden;
}

main{
    padding: 2rem 8%;
}

h1{
    font-size: var(--fs-h1);
    font-weight: var(--fw-high);
}

h2{
    font-size: var(--fs-h2);
    font-weight: var(--fw-medium);
}

h3{
    font-size: var(--fs-h3);
    font-weight: var(--fw-medium);
}

h4{
    font-size: var(--fs-h4);
    font-weight: var(--fw-medium);
}

p{
    font-size: var(--fs-p);
    font-weight: var(--fw-normal);
}

ul{
    text-decoration: none;
}

a{
    font-size: var(--fs-a);
    text-decoration: none;
    color: var(--tertiary-color);
    font-weight: var(--fw-high);
    display: inline-block;
}

li{
    font-size: 1rem;
    font-weight: 500;
    text-align: left;
    list-style: none;
}


/* Re-usables */

.btn{
    transition: 0.5s;
    border-radius: 25px;
    padding: 0.5rem;
    display: inline-block;
    
}

.btn:hover{
    transform: scale(1.05);
}

.menu-btn{
    background-color: var(--btn-color);
}

.menu-btn img{
    display: flex;
    flex-direction: column;
    align-items: center;
}


.contact-btn{
    color: var(--base-color);
    background-color: var(--tertiary-color);
}


.services-btn{
    color: var(--tertiary-color);
    background-color: var(--secondary-color);
}

.see-more-btn{
    color: var(--base-color);
    background-color: var(--tertiary-color);
}

.get-in-touch-btn{
    background-color: var(--btn-color);
    color: var(--base-color);
}

.redirect-btn{
    background-color: var(--btn-color);
}

/* Layout Styling */

/* Navigation Bar */

nav{
    padding: 1rem 8%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 999;
    background-color: var(--secondary-color);
}

.navbar-container{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}


/* Her0 Layout */

.hero{
    height: 90%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: 
    'grid-1 grid-2';
    justify-items: center;
    align-items: center;
    gap: 1rem;
    margin: 5rem 0;
}

.hero-description{
    display: flex;
    flex-direction: column;
    gap: 2rem;
    grid-area: grid-1;
}

.hero-img-container{
    grid-area: grid-2;
    height: auto;
}

.hero-img-container img{
    position: relative;
    max-width: 600px;
    width: 100%;
    height: auto;
    border-radius: 25px;
}


/* Services Layout */

.services-layout{
    display: flex;
    flex-direction: column;
    align-items: center;
}


.services{
    display: flex;
    gap: 2rem;
    color: var(--base-color);
    background-color: var(--tertiary-color);
    padding: 2rem;
    padding-top: 3rem;
    border-radius: 25px;
    max-width: 1000px;
    width: 100%;
    margin-bottom: 2rem;
}

.services-heading{
    margin-bottom: 2rem;
    text-align: center;
}

.services-layout-left{
    display: flex;
}

.services-btn{
    margin-bottom: 2rem;
}

.services-layout-right p{
    margin-bottom: 1rem;
}

.services-provided-layout{
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.services-details{
    /* display: grid;
    grid-template-columns: repeat(auto-fit , minmax(200px , 1fr));
    margin-left: 1.5rem;
    gap: 0.5rem; */

    display: flex;
    flex-direction: column;
}

/* Case study Layout */

.case-study-layout{
    text-align: center;
}

.case-study-main{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    justify-content: center;
    align-items: center;
    margin-bottom: 2rem;
}

.case-study-image img{
    max-width: 500px;
    width: 100%;
    height: auto;
}

.case-study-description{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    gap: 1rem;
    text-align: center;
}

/* other case study layout */

.other-case-study{
    display: grid;
    grid-template-columns: repeat(auto-fit , minmax(280px , 1fr));
    row-gap: 1rem;
    column-gap: 1rem;
}

.other-case-card{
    background-color: var(--secondary-color);
    padding: 1rem;
    border-radius: 10px;
    display: grid;
    grid-template-rows: subgrid;
    grid-row: span 3;
    justify-items: center;
}

.other-case-card img{
    max-width: 300px;
    width: 100%;
    height: auto;
}


/* More stuffs action card */

.more-stuffs-card{
    padding: 2rem;
    color: var(--base-color);
    background-color: var(--tertiary-color);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    gap: 1rem;
    border-radius: 10px;
    margin-top: 2rem;
    margin-bottom: 2rem;
}


.stuffs-img1 img{
    width: 100px;
    height: 100px;
    border-radius: 50%;
}

.stuffs-description h3{
    font-size: 1.2rem;
}

/* Client Layout */

.clients{
    text-align: center;
}

.clients-card-container{
    background-color: var(--secondary-color);
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px ,1fr));
    column-gap: 1rem;
    row-gap: 1rem;
    padding: 1rem;
    border-radius: 10px;
}

.clients-card{
    background-color: var(--base-color);
    border-radius: 10px;
    padding: 0.5rem;
    display: grid;
    grid-template-rows: subgrid;
    grid-row: span 3;
    gap: 0;
    justify-items: center;
    transition: 0.3s ease-in;
}

.clients-card:hover{
    transform: scale(1.05);
    box-shadow: 10px 10px 5px 2px var(--tertiary-color);
}

.clients-card img{
    max-width: 100px;
    width: 100%;
    height: auto;
}

.see-more-button{
    display: flex;
    text-align: center;
    justify-content: center;
    margin: 1rem;
}

/* Footer Layout */

footer{
    background-color: var(--tertiary-color);
    color: var(--base-color);
    padding: 2rem 8%;
    border-radius: 10px 10px 0 0;
    position: relative;
}

.footer-layout{
    display: flex;
    flex: 1;
    flex-wrap: wrap;
    justify-content: space-between;
}


.footer-left{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 1rem;
}

.footer-left p{
    font-size: 1rem;
    font-weight: var(--fw-high);
}

.footer-layout a{
    color: var(--base-color);
}

.footer-right{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.footer-links{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 1rem;
}

footer .redirect-btn{
    position: absolute;
    right: 1rem;
    bottom: 2rem;
}


.animate-show{
    animation: animate-show both;
    animation-timeline: view();
    animation-range: entry 10% cover 100vh;
}

@keyframes animate-show{
    from{
        opacity: 0;
        transform: translateY(100px);
    }

    to{
        opacity: 1;
        transform: translateY(0);
    }
}

