@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

:root{
    /* Color */

    --base-color: rgba(245,245,245);
    --secondary-color: rgba(219,215,210);
    --tertiary-color: rgba(0,0,0);
    --btn-color: rgba(255,239,0);

    /* Font Size */

    --fs-h1: 3rem;
    --fs-h2: 2rem;
    --fs-h3: 1.8rem;
    --fs-h4: 1.7rem;

    --fs-a: 1rem;
    --fs-p: 1.5rem;

    --fw-high: 700;
    --fw-medium: 500;
    --fw-normal : 400;

}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background-color: var(--base-color);
    margin: 0 auto;
    font-size: 62.5%;
    font-family: 'Poppins' , sans-serif;
    box-sizing: border-box;
    overflow-x: hidden;
}

section{
    padding: 2rem 8%;
}

h1{
    font-size: var(--fs-h1);
    font-weight: var(--fw-high);
}

h2{
    font-size: var(--fs-h2);
    font-weight: var(--fw-medium);
}

h3{
    font-size: var(--fs-h3);
    font-weight: var(--fw-medium);
}

h4{
    font-size: var(--fs-h4);
    font-weight: var(--fw-medium);
}

p{
    font-size: var(--fs-p);
    font-weight: var(--fw-normal);
}

ul{
    text-decoration: none;
}

a{
    font-size: var(--fs-a);
    text-decoration: none;
    color: var(--tertiary-color);
    font-weight: var(--fw-high);
    display: inline-block;
}

li{
    font-size: 1rem;
    font-weight: 500;
}

img{
    max-width: 300px;
    width: 100%;
    height: auto;
}


/* Re-usables */

.btn{
    transition: 0.5s;
    border-radius: 25px;
    padding: 0.5rem;
}

.btn:hover{
    transform: scale(1.05);
}

.menu-btn{
    background-color: var(--btn-color);
}


.contact-btn{
    color: var(--base-color);
    background-color: var(--tertiary-color);
}


.services-btn{
    color: var(--tertiary-color);
    background-color: var(--secondary-color);
}

.see-more-btn{
    color: var(--base-color);
    background-color: var(--tertiary-color);
}

.get-in-touch-btn{
    background-color: var(--btn-color);
    color: var(--base-color);
}

.redirect-btn{
    background-color: var(--btn-color);
}

/* Layout Styling */

/* Navigation Bar */

nav{
    padding: 2rem 8%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: sticky;
}

.navbar-container{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3rem;
}


/* Her0 Layout */

.hero{
    height: 90%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items: center;
    align-items: center;
    padding-bottom: 5rem;
}

.hero-description{
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.hero-img-container img{
    max-width: 500px;
    width: 100%;
    height: auto;
    border-radius: 10px;
}


/* Services Layout */

.services-layout{
    display: flex;
    flex-direction: column;
    align-items: center;
}


.services{
    display: flex;
    gap: 2rem;
    color: var(--base-color);
    background-color: var(--tertiary-color);
    padding: 2rem;
    padding-top: 3rem;
    border-radius: 25px;
    max-width: 1000px;
    margin-bottom: 2rem;
}

.services-heading{
    margin-bottom: 2rem;
}

.services-layout-left{
    display: flex;
    justify-content: flex-start;
}

.services-btn{
    margin-bottom: 2rem;
}

.services-layout-right p{
    margin-bottom: 1rem;
}

.services-provided-layout{
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.services-details{
    display: grid;
    grid-template-columns: repeat(auto-fit , minmax(200px , 1fr));
    margin-left: 1.5rem;
    gap: 0.5rem;
}

/* Case study Layout */

.case-study-layout{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}

.case-study-main{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    justify-content: center;
    align-items: center;
    margin-bottom: 2rem;
}

.case-study-image img{
    max-width: 600px;
    width: 100%;
    height: auto;
}

.case-study-description{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
    gap: 1rem;
    text-align: center;
}

.other-case-study{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(400px , 1fr));
    gap: 2rem;
    justify-items: center;
    align-items: center;
}

.other-case-card{
    background-color: var(--secondary-color);
    border-radius: 10px;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.other-case-img {
    margin-bottom: 1rem;
}

.other-case-img img{
    border-radius: 10px;
}

.other-case-card-description h3{
    margin-bottom: 0.5rem;
    text-align: center;
}

.other-case-card-description p{
    margin-bottom: 0.5rem;
    text-align: center;
}

.more-stuffs-card{
    padding: 3rem;
    color: var(--base-color);
    background-color: var(--tertiary-color);
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    border-radius: 10px;
    margin-bottom: 2rem;
}


.stuffs-img1 img{
    width: 100px;
    height: 100px;
    border-radius: 50%;
}

.stuffs-description h3{
    font-size: var(--fs-h3);
}

/* Client Layout */
.clients{
    background-color: var(--secondary-color);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.clients h2{
    text-align: center;
}

.clients-card-container{
    display: grid;
    grid-template-columns: repeat(auto-fit , minmax(200px, 1fr));
    gap: 1rem;
    justify-items: center;
    padding: 2rem;
}

.clients-card{
    background-color: var(--base-color);
    padding: 1rem;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-items: center;
}

.client-img img{
    max-width: 100px;
    width: 100%;
    height: auto;
    margin-bottom: 1rem;
}

.client-description h4{
    margin-bottom: 1rem;
}

.client-description p{
    margin-bottom: 1rem;
}

.see-more-button h4{
    text-align: center;
}

/* Footer Layout */

footer{
    background-color: var(--tertiary-color);
    color: var(--base-color);
    padding: 2rem 8%;
    border-radius: 10px 10px 0 0;
}

.footer-layout{
    display: flex;
    justify-content: space-between;
    padding: 3rem;
}

.footer-description{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    flex-wrap: nowrap;
}

.footer-contact{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.footer-left{
    display: grid;
    grid-template-columns: 1fr;
    gap: 4rem;
}

.footer-right{
    display: flex;
    gap: 1rem;
    justify-content: space-between;
    align-items: flex-end;
}

.footer-links{
    display: grid;
    grid-template-columns: repeat(2 , minmax(150px , 1fr));
    gap: 1rem;
}

.footer-description a{
    color: var(--base-color);
}

.footer-btn a{
    color: var(--tertiary-color);
}

.footer-contact a{
    color: var(--base-color);
}

.footer-contact p{
    font-size: var(--fs-a);
}

.footer-links a{
    color: var(--base-color);
}
